body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  .main-container {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    height: 10rem;
    width: 100%;
    background-color: #8625d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    display: inline-block;
  }

  .float-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Adicione esta linha para separar a tabela do float-container */
  }

  #body-content {
    height: 75%;
    width: 80%;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  
  .float-box {
    width: 23%;
    height: 18%;
    margin: 0;
    padding: 10px;
    border: 1px solid #9499aa;
    border-radius: 5px;
  }
  
  .title {
    color: #fefeff;
    font-size: 20px;
  }
  
  .action-button {
    background-color: #a458df;
    color: #fefeff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  #body-content {
    height: 75%;
    width: 100%;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .content-sections {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin: 2%;
  }
  
  .content-section {
    background-color: #fefeff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .table-section {
    flex: 1;
  }
  
  .data-table {
    width: 100%;
    border-spacing: 0;
  }
  
  .data-table th {
    color: #9499aa;
    border-bottom: 2px solid #9499aa;
    padding: 10px;
    border-radius: 5px;
  }
  
  .data-table td {
    border-bottom: 1px solid #9499aa;
    padding: 10px;
    border-radius: 5px;
  }
  

